@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Condensed:wght@300&family=Bebas+Neue&display=swap');

h1, h2, h3 {
    color: salmon;
    text-align: center;
    margin: 10px 5px;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
}

header {
    display: flex;
    justify-content: space-evenly;
    width: 95%;
    font-size: 20px;
    border: thick solid salmon;
    border-radius: 20px;
    margin: 20px;
}

#salmonIcon {
    width: 10%;
}

ul{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Barlow Condensed', sans-serif;
    color: #4EC33D;
}

li {
    display: flex;
    justify-content: space-evenly;
}

#LogoAndHeader {
    display: flex;
    flex-direction: column;
    border: thick solid salmon;
    border-radius: 10px;
    margin: 20px;
}

#LogoAndHeaderText {
    background-color: #00BBD7; 
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

#About-Us {
    display: flex;
    justify-content: space-evenly;
    border: thick solid salmon;
    border-radius: 10px;
    margin: 20px;
}

#About-Us-Text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 10px;
}

#About-Us-P {
    background-color: #00BBD7;
    border-radius: 15px;
}

#cutter {
    width: 15%;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
}

#frostedcookie {
    width: 15%;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}


#Locations {
    display: flex;
    justify-content: space-evenly;
    border: thick solid salmon;
    border-radius: 10px;
    margin: 20px;
}

#Locations-Text {
    display: flex;
    flex-direction: column;
    
}

#Location-Text-PoL {
    background-color: #00BBD7;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#family {
    max-width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#shirt {
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#Hours-Of-Operations {
    display: flex;
    justify-content: space-evenly;
    border: thick solid salmon;
    border-radius: 10px;
    margin: 20px;
}

#Hours-P {
    background-color: #00BBD7;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

#chinook {
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#fourfish {
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    background-color: #008AA5;
    width: 90%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

p {
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: #A83932;
}

#hours {
    font-size: 40px;
}


